/* General */
h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}


/* Animation confettis */
#drawing_canvas {
    position: absolute;
    margin: auto;
    width: 512px;
    height: 350px;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
}

/* Passage du texte en blanc */
.explain {
    color: white;
}