<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
	integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40="
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Wish me gifts</title>
<link rel="stylesheet" th:href="@{style.css}">
</head>

<body style="background-color: #24BAC7">
	<header th:replace="home.html :: top"></header>

	<div class="container">
		<div class="form-group row">
			<div class="col-md-12  text-center">
				<img src="img/cadeau.svg" alt="image cadeau">
				<h2 class="text-white">Créer votre liste</h2>
			</div>
		</div>
	</div>
	<form class="m-auto">
		<fieldset>
			<legend class="text-center mt-4">Événement </legend>
			<div class="container my-4 ">
				<div class="row ml-2">
					<div class="col-sm-6 form-check checked ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value="">
							Naissance
						</label>
					</div>
					<div class="col-6 form-check disabled ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value=""> Noël
						</label>
					</div>


					<div class="col-6 form-check disabled ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value="">
							Anniversaire
						</label>
					</div>
					<div class="col-6 form-check disabled ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value="">
							Mariage
						</label>
					</div>
					<div class="col-6 form-check disabled ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value="">
							Bapteme
						</label>
					</div>
					<div class="col-6 form-check disabled ">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" value=""> Autres
						</label>
					</div>

				</div>
			</div>
		</fieldset>
		<div class="container">
			<div class="row">

				<div class=" col form-group mt-4">
					<label for="exampleInputIntitule">Intitulé de la liste </label> <input
						type="intitule" class="form-control" id="exampleInputIntitule"
						placeholder="" data-kwimpalastatus="alive"
						data-kwimpalaid="1573810021158-2">
				</div>
				<div class="col form-group mt-4">
					<label for="exampleInputDate">Date (événement) </label> <input
						type="date" class="form-control" id="exampleInputdate"
						placeholder="" data-kwimpalastatus="alive"
						data-kwimpalaid="1573810021158-2">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col form-group m-auto">
					<label for="exampleTextarea">Votre message de bienvenue </label>
					<textarea class="form-control mb-4" id="exampleTextarea" rows="5"></textarea>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			<div class="col">
				
				<fieldset>
					<legend class="text-center mt-4">Cadeaux</legend>
				
				</fieldset>	<br>
			</div>
		</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 form-group mt-4 mx-3">
					<label for="exampleInputUrl">URL de la page :</label> <input
						type="url" class="form-control" id="exampleInputUrl"
						aria-describedby="urlHelp"
						placeholder="renseignez la page web ici  "
						data-kwimpalastatus="alive" data-kwimpalaid="1573810021158">
				</div>

			</div>
			<div class="col-12 text-center">
				<button type="submit" class="btn btn-dark mt-4">Créer</button>
			</div>
		</div>
		
	</form>

	<footer th:replace="home.html :: foot">Footer</footer>
</body>
</html>