<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="general.html :: head"></head>

<body style="background-color: #24BAC7">
	<header th:replace="general.html :: top"></header>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="text-center my-4">Vos cadeaux</h1>
				
				<form method="post" th:action="@{/gifts/list}" th:object="${gift}">
				
					<label for="gift-nom">Nom du cadeau:</label> 
					<input class="form-control mt-2" id="gift-nom" name="nom" placeholder="Ex: pyjama bleu " required th:field="*{nom}" type="text">
					 <label class="mt-2" for="gift-lien">Lien de la page web :</label> <br>
						<input class="form-control mt-2" id="gift-lien" name="lien" placeholder="Adresse de votre page web" th:field="*{lien}" type="url"> 
						<input class="btn btn-dark my-4" type="submit" value="Ajouter">
				
				</form>
			</div>
		</div>
		<div class="col card-body bg-white mb-4">
				<strong th:text="${gift.nom}"></strong>
				<p th:text="${gift.lien}"></p>
			</div>
	</div>
	<hr>

			
	
	<footer class="text-center mt-4">MADE WITH ❤ BY J.A.L.T CGU ©
		2019 - V 1.0</footer>
</body>
</html>